*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;

}
:root{
    --black : #131313;
    --dark-gray : #424242; 
    --gray : #727272;
    --orange: #FF900E;
    --pink : #FFF4E7;
    --primary-font: 'Work Sans', sans-serif;
}
header{
    background-color: var(--pink);
    /* padding: 30px; */

}
.header-container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--dark-gray);
    padding: 50px 0;
    
}
.container-title-heading{
    font-weight: 700;
    font-size: 65px;
}
.container-title{
    font-weight: 700;
    font-size: 45px;
    /* text-align: center; */
    color: var(--black);
}
.container-description{
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
    padding: 30px 0;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
    color: var(--dark-gray);

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.banner{
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
    width: 100%;
    max-width: 900px;
}


.primary-btn{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    background-color: var(--orange);
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 15px 20px;

}
.banner-photo img{

    width: 100%;
    object-fit: cover;
    /* padding-bottom: 50px; */
}

main{
    width: 100%;
    max-width: 1100px;
    align-items: center;
    margin: 50px auto;
    
}
/* feature section */
.feature{
    display: flex;
    align-items: center;
}

.feature-photos{
    width: 50%;
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(2, 1fr);
}
.feature-photos img{

    width: 100%;
}
.feature-details{
    width: 50%;
    padding-left: 50px ;

}
.quick{
    color: var(--gray);
    font-weight: 500;
}


.features-section{
    text-align: center;
    padding: 100px  0;

}

.features{
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: space-between;
}
.sub-title{
    font-weight: 600;
    font-size: 20px;

}
.features-details{
    width: 45%;
}
.features-details h1{
    padding: 15px;
    border-left: 5px solid var(--orange);
}
.features-box-container{
    font-weight: 600;
    font-size: 20px;
   

}
.features-box{
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 10px;
    margin: 10px 0;

}
.features-box p{
    padding: 5px;
}
.features img{
    width: 50%;
}
.features-section button{
    margin-top: -500px;
    margin-left: 100px;
}
.facts{
    width: 100%;
    max-width: 1100px;
}
.facts p{
    padding: 30px 0;
}




.item-container{
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
    text-align: center;

}
.item{
    border: 1px solid var(--orange);
    border-radius: 8px;
    padding: 20px;
}
.item-count{
    font-weight: 600;
    font-size: 45px;
    color: var(--black);
} 
.item-tag{
    font-weight: 600;
    font-size: 16px;
    color: var(--gray);
}
.item:hover{
    background-color: #fff4e7;
    transform: scale(1.2);
}

.sponsor{
    text-align: center;
    margin: 50px;
}


.sponsor-item-container{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 100px 0;
}

.sponsor-item{
    filter: grayscale(100%);

}
.special{
    text-align: center;
    display: flex;
    flex-direction: column;

}
.box-container{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
    align-items: center;
    text-align: center;

}
.box{
    border: 1px solid var(--orange);
    border-radius: 8px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border: none;
}
i{
    padding: 30px 0;
    color: #424242;
}


footer{
    margin: 0 auto;
    height: 80px;
    width: 100%;
    max-width: 1100px;
    background-color: var(--pink);
    text-align: center;
    font-size: 20px;
    margin-bottom: 150px;
    border-radius: 8px;
}

/* responsive for max-width 576px */
@media screen and (max-width: 576px){
    .header-container{
    margin: 0;
    padding: 50px 0;

}
    nav{
    display: flex;
    flex-direction: column;
    align-items: center;

}
    nav ul{
    padding: 10px;
    display: flex;
    gap: 7px;
    flex-direction: column;
    align-items: center;

}

.feature{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.feature-photos{
    padding-bottom: 30px;
    width: 90%;
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(1, 1fr);
    
}
.feature-details{
    width: 90%;
    padding-left: 0px ;

}
.features{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
.features-details{
    width: 90%;
    padding-left: 20px;
}
.features img{
    margin: auto;
    width: 90%;
}
.features-section button{
    margin-top: 50px;
    margin-left: 0px;
}
.facts{
    text-align: center;
    
}
.item-container{
    display: grid;
    /* gap: 80px; */
    grid-template-columns: repeat(1, 1fr);
    /* padding: 50px; */
    text-align: center;

}
.sponsor-item-container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    
}
.box-container{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(1, 1fr);
    padding: 50px;
    align-items: center;
    text-align: center;

}
footer{
    width: 80%;
    height: 120px;
}


}